.result {
    background-color: white;
    width: 25em;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.notFound {
    width: 230px;
}

p strong {
    font-size: 26px;
}