/* General */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

body {
  background-color: #D8DFE8;
}

/* Main content */

header img {
  margin-top: 25px;
}

.main {
  margin-left: 10em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main .warning {
  margin-top: 80px;
}

/* Input and Result */

#textInput {
    width: 30em;
    height: 13em;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #0A3871;
}

#textInput:focus {
  outline: none;
}

.result {
  background-color: white;
  margin-top: -100px;
  width: 25em;
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.notFound {
  width: 230px;
}

p strong {
  font-size: 26px;
}

/* Buttons */

.btn-container {
  flex-direction: column;
}

.btn {
  border: none;
  border-radius: 24px;
  width: 20em;
  height: 60px;
  font-size: 16px;
  margin-right: 40px;
  margin-top: -30px;
}

.btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.blue {
  background-color: #0A3871;
  color: white;
}

.grey {
  background-color: #D8DFE8;
  color: #0A3871;
  border: 1px solid #0A3871;
}
