.image {
    margin-top: 1.5em;
    margin-left: -10em;
}

.inputArea {
    margin-top: 50px;
}

.textInput {
    width: 30em;
    height: 13em;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #0A3871;
}

.textInput:focus {
    outline: none;
}